<!doctype html>
<html>
<head>
<title></title>
</head>
<body>

<h1>{{ suspect.filename }}</h1>

<p>Uploaded by {{ suspect.uploaded_by }} at {{ suspect.uploaded_at }}</p>

<table>
<tr><td>original</td><td><a href="{{ url_for('imgstore', oid=suspect.image) }}"><img src="{{ url_for('imgstore', oid=suspect.thumbnails['medium500']['oid']) }}"></a></td></tr>


{% for test in suspect.tests %}
<tr><td>{{ test }}</td><td>
{% if suspect.tests[test].image %}
  <a href="{{ url_for('imgstore', oid=suspect.tests[test].image) }}">
  <img src="{{ url_for('imgstore', oid=suspect.tests[test].thumbnails['small']['oid']) }}"
  </a>
{% else %}
  status: {{ suspect.tests[test].status }}
{% endif %}
</td></tr>
{% endfor %}

</table>

<div class="comments">
  {% for comment in suspect.comments %}
<div class="comment">
<div class="attribution">
  <span class="author">{{ comment['author'] }}</span>
  <span class="timestamp">{{ comment['posted_at'] }}</span>
</div>
<div class="post">{{ comment['text'] }}</div>
</div>
  {% endfor %}
</div>


<form action="{{ url_for('new_comment') }}" method="post">
<textarea name="text" rows="10" cols="40">
</textarea>
<input type="hidden" name="suspect_oid" value="{{ suspect._id }}">
<input type="submit">
</form>

</body>
</html>
